.transactionmain{
    
}
.sortlist {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8vh;
}
.sortlist div{
    margin-left: 20px;
    margin-right: 20px
}
